main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: darkblue;
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}

button {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}


button:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3)
}
